<style>
    .card-buttons-areas {
        height: 300px !important;
    }
</style>
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/inicio">Club Salud</a></li>
                    <li class="breadcrumb-item active">Directorios</li>
                </ol>
            </div>
            <h4 class="page-title">Directorios</h4>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="card p-2 card-buttons-areas">
            <a class="card-block stretched-link text-decoration-none" href="/directorio-examenes">
                <h4 class="card-title text-center text-muted" style="font-size:25px; /area-examenes">Directorio de Análisis</h4>
                <div class="text-center">
                  <i class="uil uil-medical-square" style="font-size: 150px;"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="card p-2 card-buttons-areas">
            <a class="card-block stretched-link text-decoration-none" href="/directorio-medico">
                <h4 class="card-title  text-center text-muted" style="font-size:25px;">Directorio médicos</h4>
                <div class="text-center">
                    <i class="mdi mdi-doctor" style="font-size: 150px;"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="card p-2 card-buttons-areas">
            <a class="card-block stretched-link text-decoration-none" href="/directorio-pacientes">
                <h4 class="card-title  text-center text-muted" style="font-size:25px;">Directorio de pacientes</h4>
                <div class="text-center">
                    <i class="dripicons-user" style="font-size: 150px;"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card p-2 card-buttons-areas">
            <a class="card-block stretched-link text-decoration-none" href="/directorio-personal">
                <h4 class="card-title  text-center text-muted" style="font-size:25px;">Directorio personal</h4>
                <div class="text-center">
                    <i class="uil uil-book-reader" style="font-size: 150px;"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card p-2 card-buttons-areas">
            <a class="card-block stretched-link text-decoration-none" href="/directorio-usuarios">
                <h4 class="card-title  text-center text-muted" style="font-size:25px;">Directorio usuarios</h4>
                <div class="text-center">
                    <i class="uil uil-user-square" style="font-size: 150px;"></i>
                </div>
            </a>
        </div>
    </div>
</div>