<style>
    .card-buttons-areas {
        height: 300px !important;
    }
</style>
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/inicio">Club Salud</a></li>
                    <li class="breadcrumb-item active">Solicitudes</li>
                </ol>
            </div>
            <h4 class="page-title">Area Solicitudes</h4>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card p-2 card-buttons-areas">
            <a class="card-block stretched-link text-decoration-none" href="/examenes-nuevos">
                <h4 class="card-title text-center" style="font-size:25px; /area-examenes">Nueva solicitud</h4>
                <div class="text-center">
                    <i class="dripicons-medical" style="font-size: 150px;"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card p-2 card-buttons-areas">
            <a class="card-block stretched-link text-decoration-none" href="/examenes-resolicitados">
                <h4 class="card-title  text-center" style="font-size:25px; /area-examenes">Resolicitudes</h4>
                <div class="text-center">
                    <i class="uil uil-stretcher" style="font-size: 150px;"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card p-2 card-buttons-areas">
            <a class="card-block stretched-link text-decoration-none" href="/examenes-atendidos">
                <h4 class="card-title  text-center" style="font-size:25px; /area-examenes">Solicitudes atendidas</h4>
                <div class="text-center">
                    <i class="uil uil-medical-square" style="font-size: 150px;"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card p-2 card-buttons-areas">
            <a class="card-block stretched-link text-decoration-none" href="/examenes-rechazados">
                <h4 class="card-title  text-center" style="font-size:25px; /area-examenes">Solicitudes rechazadas</h4>
                <div class="text-center">
                    <i class="uil uil-medical" style="font-size: 150px;"></i>
                </div>
            </a>
        </div>
    </div>
</div>