<style>
    .card-buttons-areas {
        height: 300px !important;
    }
</style>
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/inicio">Club Salud</a></li>
                    <li class="breadcrumb-item active">Historiales</li>
                </ol>
            </div>
            <h4 class="page-title">Area historiales</h4>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="card p-2 card-buttons-areas">
            <a class="card-block stretched-link text-decoration-none" href="/historial-medicos">
                <h4 class="card-title text-center text-muted" style="font-size:25px; /area-examenes">Medicos</h4>
                <div class="text-center">
                    <i class="mdi mdi-doctor" style="font-size: 150px;"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="card p-2 card-buttons-areas">
            <a class="card-block stretched-link text-decoration-none" href="/historial-pacientes">
                <h4 class="card-title  text-center text-muted" style="font-size:25px;">Pacientes</h4>
                <div class="text-center">
                    <i class="dripicons-user" style="font-size: 150px;"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="card p-2 card-buttons-areas">
            <a class="card-block stretched-link text-decoration-none" href="/historial-examenes">
                <h4 class="card-title  text-center text-muted" style="font-size:25px;">Exanenes</h4>
                <div class="text-center">
                    <i class="uil uil-medical-square" style="font-size: 150px;"></i>
                </div>
            </a>
        </div>
    </div>
</div>