<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/inicio">Club Salud</a></li>
                    <li class="breadcrumb-item"><a href="/area-historiales">Historial</a></li>
                    <li class="breadcrumb-item active">Solicitudes</li>
                </ol>
            </div>
            <h4 class="page-title">Historial solicitudes</h4>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="tab-pane show active" id="basic-datatable-preview">
                    <table id="basic-datatable" class="table table-striped dt-responsive nowrap w-100">
                        <thead>
                            <tr>
                                <th>Solicitud</th>
                                <th class="text-center">Médico</th>
                                <th class="text-center">Paciente</th>
                                <th class="text-center">Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each solciitudes}}                            
                                <tr>
                                    <td>{{Solicitud}}</td>
                                    <td class="text-center">{{Medico}}</td>
                                    <td class="text-center">{{Paciente}}</td>
                                    <td class="text-center">{{Fecha}}</td>
                                </tr>
                            {{/each}}                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>