<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/inicio">Club Salud</a></li>
                    <li class="breadcrumb-item active">Edición masiva</li>
                </ol>
            </div>
            <h4 class="page-title">Edición masiva</h4>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card p-2 card-buttons-areas">
            <a class="card-block stretched-link text-decoration-none" href="/edicion-masiva/1">
                <h4 class="card-title text-center text-muted" style="font-size:25px;">Edición de Análisis</h4>
                <div class="text-center">
                  <i class="uil uil-medical-square" style="font-size: 150px;"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card p-2 card-buttons-areas">
            <a class="card-block stretched-link text-decoration-none" href="/edicion-masiva/2">
                <h4 class="card-title  text-center text-muted" style="font-size:25px;">Edición de médicos</h4>
                <div class="text-center">
                    <i class="mdi mdi-doctor" style="font-size: 150px;"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card p-2 card-buttons-areas">
            <a class="card-block stretched-link text-decoration-none" href="/edicion-masiva/3">
                <h4 class="card-title  text-center text-muted" style="font-size:25px;">Edición de pacientes</h4>
                <div class="text-center">
                    <i class="dripicons-user" style="font-size: 150px;"></i>
                </div>
            </a>
        </div>
    </div>
   
    <div class="col-12 col-md-6">
        <div class="card p-2 card-buttons-areas">
            <a class="card-block stretched-link text-decoration-none" href="/edicion-masiva/4">
                <h4 class="card-title  text-center text-muted" style="font-size:25px;">Edición de usuarios administrativos</h4>
                <div class="text-center">
                    <i class="uil uil-user-square" style="font-size: 150px;"></i>
                </div>
            </a>
        </div>
    </div>
</div>