<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Club Salud</a></li>
                    <li class="breadcrumb-item active">Configuración</li>
                </ol>
            </div>
            <h4 class="page-title">Configuración de cuenta</h4>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5 class="text-left"> Visibilidad de cuenta</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="text-muted">Aquí podrás elegir la visibilidad de tu cuenta. Esta opción hace que tu cuenta sea visible o no para otros usuarios de la plataforma, 
                            al tener tu cuenta visible otros usuarios podrán contactarte.</p>
                        </p>
                    </div>
                    <div class="col-sm-12">
                        <input type="checkbox" id="switch1" {{checkedVisibilidad}} data-switch="bool"/>
                        <label for="switch1" data-on-label="Si" data-off-label="no"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5 class="text-left"> Envío de correos promocionales </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="text-muted">Aquí podrás elegir si deseas que la plataforma de Club Salud envié correo promocionales a la dirección de correo electrónico registrada en tu cuenta 
                        </p>
                    </div>
                    <div class="col-sm-12">
                        <input type="checkbox" id="switch2" {{checkedPromocionales}} data-switch="bool"/>
                        <label for="switch2" data-on-label="Si" data-off-label="no"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const d = document,
    $switch1 = d.getElementById('switch1'),
    $switch2 = d.getElementById('switch2');
    
    const visibilidad = (data) => {
        fetch('/configuracion-visibilidad',{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
    }

    const promociones = (data) => {
        fetch('/configuracion-promociones',{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
    }

    $switch1.addEventListener('change', function() {
        if (this.checked) {
            let data = {
                visibilidad: true
            }
            visibilidad(data)
        } else {
            let data = {
                visibilidad: false
            }
            visibilidad(data)
        }
    });

    $switch2.addEventListener('change', function() {
        if (this.checked) {
            let data = {
                promociones: true
            }
            promociones(data)
        } else {
            let data = {
                promociones: false
            }
            promociones(data)
        }
    });

</script>