<div class="row">
      <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/inicio">Club Salud</a></li>
                    <li class="breadcrumb-item active">Contáctanos</li>
                </ol>
            </div>
            <h4 class="page-title">Contáctanos</h4>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row text-center">
                    <div class="col-sm-12">
                        <h4>Redes sociales</h4>
                    </div>
                    <div class="col-sm-4 my-3">
                        <a href=""> <img src="/images/icons/instagram.png" alt="" width="50px"> Instagram </a> <p>Pendiente link</p>
                    </div>
                    <div class="col-sm-4 my-3">
                        <a href=""> <img src="/images/icons/facebook.png" alt="" width="50px"> Facebook </a> <p>Pendiente link</p>
                    </div>
                    <div class="col-sm-4 my-3">
                        <a href=""> <img src="/images/icons/whatsapp.png" alt="" width="80px"> Whatsapp </a> <p>Pendiente link</p>
                    </div>
                </div>
                <hr>
                <div class="row text-center">
                    <div class="col-sm-12 my-2">
                        <h4>Correos electrónicos</h4> <p>Pendiente correo</p>
                    </div>
                    <div class="col-sm-4 my-2">
                        <p>hola@clubsaludve.com</p> <p>Pendiente correo</p>
                    </div>
                    <div class="col-sm-4 my-2">
                        <p>administracion@clubsaludve.com</p> <p>Pendiente correo</p>
                    </div>
                    <div class="col-sm-4 my-2">
                        <p>soporte@clubsaludve.com</p> <p>Pendiente correo</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>