<div class="row">
      <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Club Salud</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Edición</a></li>
                    <li class="breadcrumb-item active">Misión Vision</li>
                </ol>
            </div>
            <h4 class="page-title">Misión y visión</h4>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <label for="Mision">Misión</label>
                        <textarea name="Mision" id="Mision" cols="30" rows="10" class="form-control">{{mision.Contenido}}</textarea>
                    </div>
                    <div class="col-sm-12 my-2 text-end">
                        <button class="btn btn-success" id="btnGuardarMision">Guardar cambios</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <label for="Vision">Visión</label>
                        <textarea name="Vision" id="Vision" cols="30" rows="10" class="form-control">{{vision.Contenido}}</textarea>
                    </div>
                    <div class="col-sm-12 my-2 text-end">
                        <button class="btn btn-success" id="btnGuardarVision">Guardar cambios</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/sweetalert2.all.min.js"></script>
<script>
    const d = document,
    $btnGuardarMision = d.getElementById('btnGuardarMision'),
    $btnGuardarVision = d.getElementById('btnGuardarVision'),
    $Vision = d.getElementById('Vision'),
    $Mision = d.getElementById('Mision');

    $btnGuardarMision.onclick = () => {
        if($Mision.value == "" || !$Mision.value || $Mision.value == 0){
            $Mision.classList.add('is-invalid')
        }else{
            let dataEnvio = {
                Mision: $Mision.value
            } 

            swal.fire({
                title: 'Guardando información',
                html: `
                <div class="my-3 spinner-border avatar-lg text-success" role="status"></div>
                `,
                allowOutsideClick: false,
                showCancelButton: false,
                showConfirmButton: false
            })


            fetch('/guardar-informacion-mision',{
                method: 'POST',
                body: JSON.stringify(dataEnvio),
                headers: {
                    'content-type':'application/json'
                }
            }).then((data) =>{
                return data.json()
            }).then((data) =>{
                swal.close()
            })

        }
    }
    
    $btnGuardarVision.onclick = () => {
        if($Vision.value == "" || !$Vision.value || $Vision.value == 0){
            $Vision.classList.add('is-invalid')
        }else{
            let dataEnvio = {
                Vision: $Vision.value
            } 
            swal.fire({
                title: 'Guardando información',
                html: `
                <div class="my-3 spinner-border avatar-lg text-success" role="status"></div>
                `,
                allowOutsideClick: false,
                showCancelButton: false,
                showConfirmButton: false
            })

            fetch('/guardar-informacion-vision',{
                method: 'POST',
                body: JSON.stringify(dataEnvio),
                headers: {
                    'content-type':'application/json'
                }
            }).then((data) =>{
                return data.json()
            }).then((data) =>{
                swal.close()
            })

        }
    }

</script>